main{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.start-attributes{
	/*display: flex;*/
}

.name{
	display: block;
	height: 50px;
	width: 400px;
	margin: 10px
}

.submit{
	display: block;
	height: 30px;
	width: 100px
	margin: 5px;
}

.start-game{
	height: 30px;
	width: 100px;
	margin: 5px
}

.hide{
	display: none;
}

.player-display{
	align-self: center;
	font-size: 70px;
}

.board{
	background-color: green;
	display: flex;
	justify-content: center;
	flex-direction: column;
/*	height: 800px;
	width: 800px;*/
}

.length{
	display: flex;
	justify-content: center;
}

.dark{
	background-color: grey;
	width: 80px;
	height: 80px;
	border: 5px;
	border-color: black;
	box-sizing: border-box;
	text-align: center;
	padding: 5px;
}

.light{
	background-color: beige;
	width: 80px;
	height: 80px;
	border: 5px;
	box-sizing: border-box;
	text-align: center;
	padding: 5px;
}

.player1{
	background-color: red;
}

.player2{
	background-color: pink;
}

.king1{
	background-color: black;
}

.king2{
	background-color: white;
}