
html, body {
    margin: 0;
    height: 100%;
}

body{
	background-image: url('./images/background-image.jpg');
	background-repeat: no-repeat;
  background-size: 100%;
}

main{
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.start-attributes{
	background-image: url('./images/wood.jpeg');
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	border: 10px solid #8b3f1bc9;
  border-style: ridge;
}

.name{
	font-size: 25px;
	margin: 10px 0;
	width: 300px;
	height: 70px;
	padding: 0;
	border: 3px solid rgb(97, 106, 107);
	background-color:
	box-sizing: border-box;
}

.submit{
	font-size: 20px;
	color: rgb(97, 106, 107);
	height: 40px;
	width: 300px;
	margin: 10px 0;
	padding: 0;
}

.start-game{
	font-size: 20px;
	color: rgb(97, 106, 107);
	height: 40px;
	width: 300px;
	margin: 10px 0;
}

.hide{
	display: none;
}

.blur{
	opacity: 0.4;
}

.player-display{
	font-size: 70px;
	color: white;
	margin: 20px;
}

.board{
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: 30px solid #8b3f1bc9;
  border-style: ridge;
}

.length{
	display: flex;
	justify-content: center;
}

.dark{
	background-color: grey;
	width: 100px;
	height: 100px;
	border-color: black;
	box-sizing: border-box;
	text-align: center;
}

.light{
	background-color: beige;
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	text-align: center;
}

.player1{
	background-image: url('./images/player1.svg');
	transition: transform .2s;
}

.player1:hover{
	transform: scale(1.1);
}

.player2{
	background-image: url('./images/player2.svg');
	transition: transform .2s;
}

.player2:hover{
	transform: scale(1.1);
}

.king1{
	background-size: 100%;
	background-image: url('./images/king1.svg');
	transition: transform .2s;
}

.king1:hover{
	transform: scale(1.1);
}

.king2{
	background-image: url('./images/king2.svg');
	transition: transform .2s;
}

.king1:hover{
	transform: scale(1.1);
}

.selected-piece{
	border: 5px solid red;
}

.restart-button{
	position: fixed;
	left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
  height: 100px;
  width: 300px;
  font-size: 40px;
  box-shadow: 2px 2px 1px black;
}